<div *ngIf="isLoading$ | async">
  <div class="bg-slate-600 bg-opacity-80 absolute w-screen h-screen grid content-center items-center justify-center duration-200 animate-pulse">Loading....</div>
</div>

<div
  class="w-full h-full mx-auto py-8 grid justify-center items-center content-center place-items-center place-content-center justify-items-center"
>
  <h1 class="text-3xl my-8">James's Repositories</h1>

  

  <div *ngIf="error$ | async as error">{{ error }}</div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 overflow-y-auto">
    <div *ngFor="let repository of repositories$ | async as List">
      <repository-item [repository]="repository" (onStarred)="onStarred(repository)" (onSubscribed)="onSubscribed(repository)" ></repository-item>
    </div>
  </div>
</div>
